@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #222831;
  font-family: Poppins;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 79.875rem;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
  padding: 84px 0 0 0;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  width: 100vw;
  z-index: 50;
  background: #222831;
}
.header__container {
  padding: 24px 15px;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: #ffffff;
  font-family: Oswald;
  font-size: 1.5rem;
}
.header__list {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  line-height: 2.25rem;
}
.header__list a {
  color: #eeeeee;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.header #menu-toggle, .header__label {
  display: none;
}
@media (max-width: 768px) {
  .header__label {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    transition: all 0.3s ease-in-out;
  }
  .header__label::after, .header__label::before, .header__label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: all 0.3s ease-in-out;
  }
  .header__label::before {
    content: "";
    top: 0;
  }
  .header__label::after {
    content: "";
    bottom: 0;
  }
  .header__label span {
    top: 11px;
  }
  .header__list {
    position: fixed;
    background: #222831;
    padding: 50px 0;
    top: -100%;
    bottom: 100%;
    left: 0;
    width: 100vw;
    height: 25vh;
    z-index: -1;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    border-bottom: 1px solid #eeeeee;
    transition: all 0.3s linear;
  }
  #menu-toggle:checked ~ .header__list {
    top: 74px;
    bottom: 0;
  }
  #menu-toggle:checked ~ .header__label::before {
    transform: rotate(45deg);
    top: 11px;
  }
  #menu-toggle:checked ~ .header__label::after {
    transform: rotate(-45deg);
    bottom: 11px;
  }
  #menu-toggle:checked ~ .header__label span {
    transform: rotate(-45deg);
  }
  #menu-toggle:checked ~ .header__label {
    transform: rotate(180deg);
  }
}

.button {
  padding: 10px 32px;
  display: block;
  border-radius: 24px;
  background: #00ADB5;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6875rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.title {
  font-weight: 700;
  color: #eeeeee;
}
.title span {
  color: #00ADB5;
}

.block1__container {
  padding: clamp(0rem, -3.4rem + 16.98vw, 10.19rem) 15px clamp(1.25rem, 0.15rem + 5.52vw, 4.56rem);
}
.block1__flex {
  display: flex;
  justify-content: space-between;
}
.block1__body {
  max-width: 42.6875rem;
  padding: 2.4375rem 0 0 0;
  max-height: 20.375rem;
  position: relative;
}
@media (min-width: 48em) {
  .block1__body {
    padding: 2.4375rem 0 0 85px;
  }
  .block1__body:before {
    content: "";
    background: url(../img/block1/arrow.svg) no-repeat;
    width: 13.177%;
    aspect-ratio: 90/221;
    position: absolute;
    top: 60%;
    left: -15px;
    transform: translateY(-50%);
  }
}
.block1__title {
  margin-bottom: clamp(1.25rem, 0.67rem + 2.92vw, 3rem);
  font-size: clamp(2.81rem, 1.75rem + 5.31vw, 6rem);
}
.block1__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.block1__buttons li:last-child a {
  background: #393E46;
  position: relative;
  width: 223px;
}
.block1__buttons li:last-child a::after {
  content: "";
  background: url(../img/block1/icon.svg) no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
}
.block1__img {
  width: 34.1875rem;
  aspect-ratio: 547/655.56;
}
@media (max-width: 73em) {
  .block1__flex {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.block2__container {
  padding: clamp(0rem, -2.79rem + 13.96vw, 8.38rem) 15px clamp(4rem, 0.66rem + 16.71vw, 12.56rem);
}
.block2__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block2__body {
  max-width: 31.1698%;
}
.block2__title {
  font-size: clamp(3.13rem, 2.83rem + 1.46vw, 4rem);
  line-height: 150%;
  margin: 26px 0 0 0;
  position: relative;
  display: block;
  width: 6.5625em;
}
@media (min-width: 23.75em) {
  .block2__title::after {
    content: "";
    background: url(../img/block2/icon.svg) 0 0/100% no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 1.202em;
    aspect-ratio: 76/99;
  }
}
@media (min-width: 48em) {
  .block2__title::before {
    content: "";
    background: url(../img/block2/before.svg) 0 0/100% no-repeat;
    width: 0.961em;
    aspect-ratio: 61.54/46.57;
    position: absolute;
    top: -100%;
    left: 0;
  }
}
.block2__txt {
  color: #eeeeee;
  font-size: clamp(0.88rem, 0.78rem + 0.49vw, 1.13rem);
  line-height: 150%;
  max-width: 398px;
  position: relative;
}
.block2__txt span {
  color: #fff;
  font-weight: 700;
}
@media (min-width: 73em) {
  .block2__txt::after {
    content: "";
    background: url(../img/block2/after.svg) 0 0/100% no-repeat;
    position: absolute;
    top: 100%;
    right: 50%;
    width: 6.262em;
    aspect-ratio: 122.72/169.89;
    transform: translate(80%, 60%);
  }
}
.block2__img {
  width: 52.9647%;
  aspect-ratio: 661/588;
}
@media (max-width: 73em) {
  .block2__flex {
    gap: 20px;
  }
  .block2__txt {
    max-width: 100%;
  }
  .block2__body {
    max-width: none;
    padding: 0 15px;
  }
  .block2__title {
    width: 100%;
  }
}

@media (max-width: 73em) {
  .irg {
    display: none;
  }
}
@media (max-width: 48em) {
  .irg {
    display: block;
    width: 100%;
  }
}